<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.5.8" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net461" />
  <package id="geckofx-core" version="33.0.5.1" targetFramework="net461" />
  <package id="geckofx-winforms" version="33.0.5.1" targetFramework="net461" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Qiniu" version="7.3.1.1" targetFramework="net461" />
</packages>